<li>
    {{#if devoured}}
    {{burger_name}}
    {{else}}
    {{burger_name}}
    <form action="/api/burgers/{{id}}?_method=PUT" method="POST">
        <button class="" data-id="{{id}}" type="submit">
            {{#if devoured}}ALREADY EATEN{{else}}CONSUME {{/if}}
        </button>
    </form>
    {{/if}}

</li>