<ul class="list-group">
    {{#if devoured}}

    <li class="list-group-item disabled"> {{burger_name}} <button type="button" class="btn btn-secondary pl-3"> ALREADY
            EATEN</button>
    </li>
</ul>
<ul class="list-group">
    {{else}}

    <li class="list-group-item">{{burger_name}}
        <form action="/api/burgers/{{id}}?_method=POST" method="POST">
            <button class="btn btn-warning" data-id="{{id}}" type="submit">CONSUME
            </button>


        </form>
    </li>
</ul>
{{/if}}